<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <property name="LOG_HOME" value="${LOG_PATH}/Application"/>
    <property name="FILE_LOG_PATTERN" value="%d{[yyyy-MM-dd HH:mm:ss]} [%thread] %-5level %logger{36} - %msg%n"/>
    <property name="FILE_INCDIENT_PATTERN" value="%d{[yyyy-MM-dd HH:mm:ss]} [%thread] %-5level %logger{36} - %msg%n"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="stash-file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/Application.log</file>
        <append>true</append>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>Application.log.%i</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy
                class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="PACKAGE_LOG_APPENDER" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_HOME}/request.log</file>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="REQUEST_LOG" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="group.flowbird.mediationservice" additivity="false">
        <appender-ref ref="REQUEST_LOG"/>
        <appender-ref ref="PACKAGE_LOG_APPENDER" />
    </logger>

    <logger name="stash" level="DEBUG" additivity="false">
        <appender-ref ref="stash-file"/>
    </logger>
    <logger name="org.springframework" level="INFO" dditivity="false"/>
    <logger name="org.h2.*" level="INFO" dditivity="false"/>
    <logger name="org.hibernate.*" level="INFO" dditivity="false"/>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="stash-file"/>
        <appender-ref ref="REQUEST_LOG" />
    </root>

</configuration>
